<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Render Time Estimator</title>
    <link rel="stylesheet" href="/static/styles/addRenderUnit_style.css">
  </head>
  <body>
    <div class="space">
      
      <div class="nav">
        <ul class="nav-list">
          <li class="nav-item">
            <a class="label" href="/RenderUnits/1">Лента</a>
          </li>
          <li class="nav-item">
            <a class="label" href="">Добавление</a>
          </li>
          <li class="nav-item">
            <a class="label" href="/RenderUnits">Плитка</a>
          </li>
        </ul>
      </div>
    </div>
  </body>
</html>