<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>Render Time Estimator</title>
    <link rel="stylesheet" href="/static/styles/addRenderUnit_style.css">
  </head>
  <body>
    <div class="space">
      <div class="container">
        {{ .renderUnit.Status }}
      </div>

      <div class="nav">
        <ul class="nav-list">
          <li>
            <a href="/RenderUnits/1">
              <img src="/static/img/home.png" alt="Лента" />
            </a>
          </li>
          <li class="active">
            <a href="/AddRenderUnit">
              <img src="/static/img/add.png" alt="Добавление" />
            </a>
          </li>
          <li>
            <a href="/RenderUnits">
              <img src="/static/img/grid.png" alt="Плитка" />
            </a>
          </li>
        </ul>
      </div>
    </div>
  </body>
</html>