<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Render Time Estimator</title>
    <link rel="stylesheet" href="/static/styles/index_style.css">
  </head>
  <body>
    <header>
      <h1>
        <a href="/hello"><img src="/static/img/render-logo.png" alt="home"></a>
      </h1>
    </header>
    <div class="space">
      <div class="container">
        <form action="/hello" method="GET">
          <input type="text" name="query" placeholder="Введите запрос" value="{{ .query }}">
          <button type="submit">Найти</button>
        </form>
        
        <ul class="cards-list">
          {{ range .orders }}
          <li class="card">
            <img src="./img/1.jpg" class="image">
            <p class="title">{{ .Title }}</p>
            <div class="short-description">
              <p>{{ .GPU }}</p>
              <p>{{ .RAM }}</p>
              <p>{{ .Storage }}</p>
            </div>
            <a href="/order/{{ .ID }}" class="card-button">Подробнее</a> 
          </li>
          {{ end }}
        </ul>
      </div>
      <div class="nav">
        <ul class="nav-list">
          <li class="nav-item">
            <a class="label" href="/hello">Лента</a>
          </li>
          <li class="nav-item">
            <a class="label" href="/hello">Добавление</a>
          </li>
          <li class="nav-item">
            <a class="label" href="/hello">Плитка</a>
          </li>
        </ul>
      </div>
    </div>
  </body>
</html>