<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Render Time Estimator</title>
    <link rel="stylesheet" href="/static/styles/renderUnits_style.css">
  </head>
  <body>
    <div class="space">
      <div class="container">
        <div class="catalog-container">
          <form action="/RenderUnits" method="GET">
            <input type="text" name="query" placeholder="Введите запрос" value="{{ .query }}">
            <button type="submit">Найти</button>
          </form>
          
          <ul class="cards-list">
            {{ range .renderUnits }}
            <li class="card">
              <img src="http://localhost:9000/render-assets/{{ .ImagePath }}" class="image">
              <p class="title">{{ .Processor }}</p>
              <div class="short-description">
                <p>{{ .Cores }}</p>
                <p>{{ .RAM }}</p>
              </div>
              <a href="/RenderUnits/{{ .ID }}" class="card-button">Подробнее</a> 
            </li>
            {{ end }}
          </ul>
        </div>
      </div>

      <div class="nav">
        <ul class="nav-list">
          <li>
            <a href="/RenderUnits/1">
              <img src="/static/img/home.png" alt="Лента" />
            </a>
          </li>
          <li>
            <a href="/AddRenderUnit">
              <img src="/static/img/add.png" alt="Добавление" />
            </a>
          </li>
          <li class="active">
            <a href="/RenderUnits">
              <img src="/static/img/grid.png" alt="Плитка" />
            </a>
          </li>
        </ul>
      </div>
    </div>
  </body>
</html>