<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>Render Time Estimator</title>
    <link rel="stylesheet" href="/static/styles/video_style.css">
  </head>
  <body>
    <div class="space">
      <div class="container">
        <div class="video-container">
          <div class="video-wrapper">
            <video src="http://localhost:9000/render-assets/{{ .renderUnit.VideoPath }}" autoplay muted loop playsinline></video>
          </div>

          <div class="overlay">
            <div class="overlay-left">
              <div class="title">{{ .renderUnit.Processor }}</div>
              <div class="description">{{ .renderUnit.Description }}</div>
            </div>

            <div class="overlay-right">
              <div>
                <img src="/static/img/like.png" alt="Лайк" class="icon like-icon" />
                <p>{{ .renderUnit.Likes }}</p>
              </div>
              <a href="/RenderUnits/{{ .renderUnit.ID }}?next=true">
                <img src="/static/img/next.png" alt="Следующее" class="icon next-icon" />
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="nav">
        <ul class="nav-list">
          <li class="active">
            <a href="/RenderUnits/1">
              <img src="/static/img/home.png" alt="Лента" />
            </a>
          </li>
          <li>
            <a href="/AddRenderUnit">
              <img src="/static/img/add.png" alt="Добавление" />
            </a>
          </li>
          <li>
            <a href="/RenderUnits">
              <img src="/static/img/grid.png" alt="Плитка" />
            </a>
          </li>
        </ul>
      </div>
    </div>
  </body>
</html>