<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Render Time Estimator</title>
    <link rel="stylesheet" href="/static/styles/video_style.css">
  </head>
  <body>
    <div class="space">
      <div class="container">
            <img src="./img/1.jpg" class="image">
            <p class="title">{{ .renderUnit.Title }}</p>
            <div class="short-description">
              <p>{{ .renderUnit.GPU }}</p>
              <p>{{ .renderUnit.RAM }}</p>
              <p>{{ .renderUnit.Storage }}</p>
            </div>
        </ul>
      </div>

      <div class="nav">
        <ul class="nav-list">
          <li class="nav-item">
            <a class="label" href="/RenderUnits/1">Лента</a>
          </li>
          <li class="nav-item">
            <a class="label" href="">Добавление</a>
          </li>
          <li class="nav-item">
            <a class="label" href="/RenderUnits">Плитка</a>
          </li>
        </ul>
      </div>
    </div>
  </body>
</html>